RSI4/Klient12/Connected Services/ServiceReference2/InnySerwis3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract12" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/InnySerwis?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDaneObrazkow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DaneObrazkow" type="tns:DaneObrazkow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDaneObrazkow" nillable="true" type="tns:ArrayOfDaneObrazkow" />
  <xs:complexType name="DaneObrazkow">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DaneObrazkow" nillable="true" type="tns:DaneObrazkow" />
</xs:schema>